set scrolloff=5
set surround
set hlsearch
set wildmenu
set relativenumber
set incsearch

noremap <Space>sv <C-w>v
noremap <Space>sh <C-w>s
noremap <Space>wk <C-w>k
noremap <Space>wj <C-w>j
noremap <Space>wh <C-w>h
noremap <Space>wl <C-w>l

noremap <Space>l :bn<CR>
noremap <Space>h :bp<CR>



"" Map <leader>d to start debug
map <Space>r <Action>(Run)
map <Space>G <Action>(Generate)
map <Space>p <Action>(Project)
map <Space>rc <Action>(ReformatCode)
map <Space>fu <Action>(FindUsages)
""map <Space>nt <Action>(SelectNextTab)
""map <Space>pt <Action>(SelectPreviousTab)
map <Space>a <Action>(ActivateNextTab)
""map <Space>no <Action>(NextOccurrence)
""map <Space>po <Action>(PreviousOccurrence)
map <Space>tbp <Action>(ToggleBreakpoint)
map <Space>ca <Action>(ShowContextActions)
map <Space>g <Action>(GotoFile)
map <Space>gtc <Action>(GotoClass)



" Find more examples here: https://jb.gg/share-ideavimrc
set ideajoin