snippet date
${2:${1:`date +%d`}.`date +%m`}.`date +%Y`
endsnippet


snippet mermaid
\`\`\`mermaid
graph ${1:LR}
<++>
--><++>
\`\`\`
endsnippet

snippet flow 
\`\`\`flow $1
st=>start: <++> 
e=>end: <++>
op=>operation: <++>
cond=>condition: <++>

st->op->cond

cond(<++>)-><++>
cond(<++>)-><++>
\`\`\`
endsnippet
